*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* head navbar */
.body {
    min-height: 100vh;
    background-color: #F5F5F5;
}
.navbar{
    padding: 20px 20px 25px 50px;
    background-color: #f5f5f5;
    font-family: Roboto, Helvetica Neue, Arial;
}
.navbar-brand{
    transform: translate(50px,5px);
}

.nav-item:hover{
  border-bottom: 1px solid #fdb915;
}
.nav-link{
    padding-bottom: 0.5px;
}
.ButttonGet{
    padding: 10px 20px 10px 20px;
}
.ButtonGetTickets{
    text-decoration: none;
}
.ButtonGetTickets:hover{
    text-decoration: none;
    color: white;
}



/* IBADAN TECH EXPO MAIN CONTENT */
.main{
    margin-top: 100px;
}
.imgdra{
    transform: translate(20px,0);
}

.MaidenText{
    color: #224093;
}
.StarImg{
    margin-left: -100px;
}
.LineArt{
    margin-left: -130px;
}
.LineImg{
   transform: translate(-50px,0);
}
.SepDate{
    margin-left: -130px;
    color: #224093;
}

/* Rotating star */

.animate{
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animate.animate--infinite{
    animation-iteration-count: infinite;
}
.animate.animate--slow{
    animation-duration: 2.5s;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate{
    animation-name: rotate;
    animation-timing-function: linear;
}
/* BUTTON TICKETS */
.becomeSponsor{
    font-size: 24px;
    color: rgb(34, 64, 147);
    border: 1px solid rgb(34, 64, 147);;
    background-color: transparent;
    height: 40px;
}
.buyTicket{
    font-size: 24px;
    color: rgb(34, 64, 147);
    height: 40px;
    border: none;
}
/* VENUE & DATE CONTAINER */
.ContainerVenue{
    padding: 40px;
    box-sizing: border-box;
    border: none;
    background-image: linear-gradient(
        to right,
        #be8d16,
        #5577ce 40%
    );
    border-radius: 5px;
    margin-top: 100px;
}
.venue{
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
}
.center{
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}

/*-----ABOUT IBADAN TECH EXPO------*/
.ibadan{
    color: rgb(34, 64, 147);
    font-size: 20px;
    transform: translate(10px,50px);
    line-height: 20px;
}
.imr{
    transform: translate(15px,50px);
    width: 650px;
}
/*-----VENUE------*/
.venue2{
    color: rgb(34, 64, 147);
    font-size: 72px;
    font-weight: 800;
    line-height: 70px;
    border-bottom: 2px solid #fdb915;
    width: 95%;
}
.fits{
    color: blue; 
    position: relative;
    top: -400px;
}
.venueimg{
    position: relative
}

.imgtar{
    position: absolute ;
}
/* ------VENUE, SPEAKER, AND TICKET HEADER UNDERLINE -----*/
.ven,.speakersheader,.ticketheader{
    border-bottom: 3px solid rgb(240, 179, 12);
}
.venueImg{
    background: url(Img/ibad.an.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 350px;
}
.internationalConference{
    background-image: url(Img/ibad.an.png);
    background-position: cover;

}
.flyCardsGroup p{
    width:70%;;
}
.flyCards{
    float: right;
}
/* CARDS */

.firstCard, .secondCard, .thirdCard{
    font-size: 12px;
}
.firstCard:hover{
    background-color: green;
    transition: 1s;
    color: #F5F5F5;
}
.cardsectionGroup{
    position: relative;
}
.secondCard {
    position: relative;
    margin-top: -40px;
}

.thirdCard:hover{
    background-color: blue;
    transition: 1s;
    color: #F5F5F5;
}
/* PRIZE SECTION */

.prize{
    background: linear-gradient(-1050deg,  #132351, #132351,#132351,#132351,#c65762);
    padding: 30px;
    transform: translate(12px,0);
    color: white;
    width: 100%;
    height: inherit;
   
}
.prizeTxt{
    margin-top: 60px;
    transform: translate(0,75px);
}

.laptop, .watch{
    transition: all 1s ease;
}
.laptop:hover{
    transform: rotate(30deg);
   
}
.watch:hover{
    transform: rotate(-20deg);   
}

.partnerSection,.mediaPartnerSection,.communityPartnerSection {
    margin-top: 90px;
}
.animates{
    animation: move 10s linear infinite forwards;
}
@keyframes move {
    0%{
        transform: translate(1200px,0);
    }

    100%{
        transform: translate(-1300px,0);
    }
}

.animator{
    animation: moving 35s linear infinite forwards;
}
@keyframes moving {
    0%{
        transform: translate(1200px,0);
    }

    100%{
        transform: translate(-2400px,0);
    }
}

.footer{
    background: #132351;
}
.footerNav a{
    position: relative;
    right: -13%;
    font-size: 20px;
    text-decoration: none;
    color: white;
}


